# Secret configs
.streamlit/secrets.toml*
!.streamlit/secrets.toml.example

# Python cache & virtual environment
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS store
.DS_Store
Thumbs.db
